@model CivicsApp.Models.Representative

@{
    ViewData["Title"] = "Representatives";
}

<h2>List of Representatives</h2>

<p>This is coming from Views/Representatives/Index.cshtml</p>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].Members[0].State)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Results[0].Members[0].District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].Members[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].Members[0].LastName)
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results[0].Members.OrderBy(s => s.State))//.ThenBy(d => d.District.Length).ThenBy(d => d.District))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                @*<td>
                    @Html.DisplayFor(ModelItem => item.District)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.LastName)
                </td>*@
            </tr>
        }
    </tbody>
</table>