@model CivicsApp.Models.DistrictRepresentatives.CurrentDistrictRepresentatives

@{
    ViewData["Title"] = "State";
}
<thead>
    <h2>Your Federal Representatives</h2>
</thead>

<tbody>
    <table class="table">
        <h4>Your Represenative:</h4>
        <th>First Name</th>
        <th>Last Name</th>
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => Model.houseMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => Model.houseMember.LastName)
            </td>
        </tr>
    </table>
    <table class="table">
        <h4>Your Senators:</h4>
        <th>First Name</th>
        <th>Last Name</th>
        @*@foreach (var item in Model[1].Results)*@
        @*{*@
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => Model.senator1.FirstName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => Model.senator1.LastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => Model.senator2.FirstName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => Model.senator2.LastName)
            </td>
        </tr>
        @*}*@
    </table>
</tbody>
