@model CivicsApp.Models.Representative

@{
    ViewData["Title"] = "State";
}

<h2>List of Representatives</h2>

<table class="table">

    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Results[0].District)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Results[0].Members[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].Members[0].LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.Results)*@
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(ModelItem => item.District)
                </td>*@
                <td>
                    @Html.DisplayFor(ModelItem => Model.Results[0].Members[0].FirstName)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => Model.Results[0].Members[0].LastName)
                </td>
            </tr>
        }
    </tbody>
</table>