@model CivicsApp.Models.UserDistrictRepresentatives.DistrictRepresentatives

@{
    ViewData["Title"] = "Your District";
}
<thead>
    <h2>Representatives for your District</h2>
</thead>

<table class="table">
    <tr>
        <th>Your Congressional Representative:</th>
        <th>
            @Html.DisplayFor(ModelItem => Model.houseMember.FirstName)
            @Html.DisplayFor(ModelItem => Model.houseMember.MiddleName)
            @Html.DisplayFor(ModelItem => Model.houseMember.LastName)
        </th>
    </tr>
    <tr>
        <td>
            State of @Html.DisplayFor(ModelItem => Model.houseMember.State) Congressional District:
        </td>
        <td>
            @Html.DisplayFor(ModelItem => Model.houseMember.District)
        </td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@Html.DisplayFor(ModelItem => Model.houseMember.Phone)</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Html.DisplayFor(ModelItem => Model.houseMember.Email)</td>
    <tr>
        <td>Website:</td>
        <td><a href="@Html.DisplayFor(ModelItem => Model.houseMember.WebSite)">@Html.DisplayFor(ModelItem => Model.houseMember.WebSite)</a></td>
    </tr>
    <tr>
        <td>Twitter:</td>
        <td>
            <a href="https://twitter.com/@Html.DisplayFor(ModelItem => Model.houseMember.Twitter)?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Html.DisplayFor(ModelItem => Model.houseMember.Twitter)</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </td>
    </tr>
    <tr>
        <td>FaceBook:</td>
        <td><a href="https://www.facebook.com/@Html.DisplayFor(ModelItem => Model.houseMember.Facebook)">Facebook Page</a></td>
    </tr>
    <tr>
        <td>YouTube:</td>
        <td><a href="https://www.youtube.com/user/@Html.DisplayFor(ModelItem => Model.houseMember.YouTube)">YouTube Channel</a></td>
    </tr>

</table>


@*<tbody>
        @foreach (var VotingInfo in Model.houseMember.BillVotingHistory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => VotingInfo.BillId)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => VotingInfo.BillVotingPosition)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => VotingInfo.Description)
                </td>
            </tr>
        }
    </tbody>*@

<table style="width:100%">
    <tr>
        <th width="10%">Bill Number</th>
        <th width="10%">Voting Position</th>
        <th width="10%">Date of Vote</th>
        <th width="70%">Bill Description</th>
    </tr>

    @foreach (var VotingInfo in Model.houseMember.BillVotingHistory)
    {
        <tr>
            <td>
                <a href="/Bill?billslug=@Html.DisplayFor(ModelItem => VotingInfo.BillSlug)">
                @Html.DisplayFor(ModelItem => VotingInfo.BillNumber)
                </a>
            </td>
            <td>
                @Html.DisplayFor(ModelItem => VotingInfo.BillVotingPosition)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => VotingInfo.DateOfVote)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => VotingInfo.Description)
            </td>
        </tr>
    }

</table>


